.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.byhost
.DataRecoveryByDiskDrill
~$.*
Thumbs.db
Desktop.ini


[Bb]in/
[Oo]bj/
[Log]s/

[Tt]est[Rr]esults/
[Re]leases/
x64/
x86/
build/

*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.ide/
.vs/

.vscode/.reactifylocaldb
.vscode/chrome-debug-profile/
.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

secrets.json
.microsoft.dotnet.secretmanager/


.env
.env.[a-zA-Z]*
!.env.example

.docker/
*.tar
pgdata_local/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.vscode/
.vscode
.idea/
