@model ChunkPreviewPageVm

<link rel="stylesheet" href="~/css/colors.css" />
<link rel="stylesheet" href="~/css/chunk-preview.css" />

<div class="chunk-preview-card">

    <div id="chunkList">
    </div>

    <div id="chunkPagination"
         class="chunk-pagination">
    </div>

</div>

<script src="~/js/chunk-preview.js"></script>
